.modal {
  width: 30vw;
  height: 40vh;
  padding: 10px;
  background-color: #53bf9d;
  overflow-x: scroll;
  position: absolute;
  inset: 0;
  left: 27vw;
  top: 10vh;
  animation: open 0.5s ease-in-out;
}

@keyframes open {
  0% {
    transform: scale(0.3);
  }

  100% {
    transform: scale(1);
  }
}
.modalSearch {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.modalSearch input {
  flex: 2;
  padding: 5px;
  border: none;
  outline: none;
}

.modalSearch i {
  color: #f94c66;
}

.modalContacts li {
  margin: 10px 0;
  padding: 10px;
  text-align: center;
  background-color: #a0d995;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.modalContacts li:hover {
  background-color: teal;
  color: #fff;
}
